logs
libraries
acmedia
dakimakura-mod
llibrary
valkyrielib
resourcepacks
assets
journeymap
patchouli_books
saves
mods
acmedia
cache
journeymap
.mixin.out
crash-reports

.ReAuth.cfg
BotaniaVars.dat
launcher_profiles.json
patchouli_data.json
ExtraBotanyVars.dat
crafttweaker.log
pixel.dat
hmcl.json
usercache.json
usernamecache.json
hc_options.txt

*.meta
*.exe
*.log