logs
libraries
acmedia
dakimakura-mod
llibrary
valkyrielib
resourcepacks
assets
journeymap
local
patchouli_books
saves
mods
.mixin.out

.ReAuth.cfg
BotaniaVars.dat
launcher_profiles.json
patchouli_data.json
ExtraBotanyVars.dat
crafttweaker.log
pixel.dat
options.txt

*.meta
*.exe
*.log