#Forder
logs
libraries
acmedia
llibrary
valkyrielib
resourcepacks
assets
journeymap
patchouli_books
saves
mods
acmedia
cache
journeymap
.mixin.out
crash-reports
backups

#File
.ReAuth.cfg
BotaniaVars.dat
launcher_profiles.json
patchouli_data.json
ExtraBotanyVars.dat
crafttweaker.log
pixel.dat
usercache.json
usernamecache.json
.curseclient
concheckrmd
options.txt

#Type
*.meta
*.log