# Configuration file

groundlevel {
    # Ground Level (1-255) [range: 1 ~ 255, default: 64]
    I:settings=64
}


settings {
    B:AlertEnabled=true
    B:AllowSetSpawnDaytime=true
    B:IncludeMiners=true
    S:OnMorningText=早上好各位！
    S:OnSleepText=正在睡觉
    S:OnWakeText=离开了他们的床
    I:SleeperPerc=1
}


